USE [KYA]
GO
/****** Object:  StoredProcedure [carlos].[spUpdMessage]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdMessage]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateUserKYA]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateUserKYA]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateTenants]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateTenants]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateService]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateRoomService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateRoomService]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateRooms]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateRooms]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateMonthlyPayment]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateMonthlyPayment]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateCompany]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateCompany]
GO
/****** Object:  StoredProcedure [carlos].[spUpdateAdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spUpdateAdditionalFeatures]
GO
/****** Object:  StoredProcedure [carlos].[spSelTenantsID]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelTenantsID]
GO
/****** Object:  StoredProcedure [carlos].[spSelTenantsAll]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelTenantsAll]
GO
/****** Object:  StoredProcedure [carlos].[spSelStatusMessage]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelStatusMessage]
GO
/****** Object:  StoredProcedure [carlos].[spSelService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelService]
GO
/****** Object:  StoredProcedure [carlos].[spSelRoomServiceXIDRoom]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelRoomServiceXIDRoom]
GO
/****** Object:  StoredProcedure [carlos].[spSelRoomService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelRoomService]
GO
/****** Object:  StoredProcedure [carlos].[spSelRoomAll]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelRoomAll]
GO
/****** Object:  StoredProcedure [carlos].[spSelRoom]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelRoom]
GO
/****** Object:  StoredProcedure [carlos].[spSelNotification]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelNotification]
GO
/****** Object:  StoredProcedure [carlos].[spSelMonthlyPaymentXID]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMonthlyPaymentXID]
GO
/****** Object:  StoredProcedure [carlos].[spSelMonthlyPayment]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMonthlyPayment]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageUserWS]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageUserWS]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageUserStatusWS]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageUserStatusWS]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageUser]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageUser]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdminStatusXIDUSERWS]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageAdminStatusXIDUSERWS]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdminStatusAllWS]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageAdminStatusAllWS]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdminAll]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageAdminAll]
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdmin]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelMessageAdmin]
GO
/****** Object:  StoredProcedure [carlos].[spSelectUserKYA]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelectUserKYA]
GO
/****** Object:  StoredProcedure [carlos].[spSelectUserAll]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelectUserAll]
GO
/****** Object:  StoredProcedure [carlos].[spSelectCompany]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelectCompany]
GO
/****** Object:  StoredProcedure [carlos].[spSelectAdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelectAdditionalFeatures]
GO
/****** Object:  StoredProcedure [carlos].[spSelAdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spSelAdditionalFeatures]
GO
/****** Object:  StoredProcedure [carlos].[spPaymentMonthly]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spPaymentMonthly]
GO
/****** Object:  StoredProcedure [carlos].[spInsNotification]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsNotification]
GO
/****** Object:  StoredProcedure [carlos].[spInsMessage]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsMessage]
GO
/****** Object:  StoredProcedure [carlos].[spInsertUserKYA]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertUserKYA]
GO
/****** Object:  StoredProcedure [carlos].[spInsertTenants]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertTenants]
GO
/****** Object:  StoredProcedure [carlos].[spInsertService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertService]
GO
/****** Object:  StoredProcedure [carlos].[spInsertRoomService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertRoomService]
GO
/****** Object:  StoredProcedure [carlos].[spInsertRooms]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertRooms]
GO
/****** Object:  StoredProcedure [carlos].[spInsertMonthlyPayment]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertMonthlyPayment]
GO
/****** Object:  StoredProcedure [carlos].[spInsertCompany]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertCompany]
GO
/****** Object:  StoredProcedure [carlos].[spInsertAdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spInsertAdditionalFeatures]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteUserKYA]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteUserKYA]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteTenants]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteTenants]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteService]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteRoomService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteRoomService]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteRooms]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteRooms]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteMonthlyPayment]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteMonthlyPayment]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteCompany]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteCompany]
GO
/****** Object:  StoredProcedure [carlos].[spDeleteAdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP PROCEDURE [carlos].[spDeleteAdditionalFeatures]
GO
ALTER TABLE [carlos].[Tenants] DROP CONSTRAINT [FK__Tenants__UserId__403A8C7D]
GO
ALTER TABLE [carlos].[Tenants] DROP CONSTRAINT [FK__Tenants__IdRoom__412EB0B6]
GO
ALTER TABLE [carlos].[RoomService] DROP CONSTRAINT [FK__RoomServi__IdSer__5DCAEF64]
GO
ALTER TABLE [carlos].[RoomService] DROP CONSTRAINT [FK__RoomServi__IdRoo__5CD6CB2B]
GO
ALTER TABLE [carlos].[MonthlyPayments] DROP CONSTRAINT [FK__MonthlyPa__UserI__440B1D61]
GO
ALTER TABLE [carlos].[MonthlyPayments] DROP CONSTRAINT [FK__MonthlyPa__IdRoo__44FF419A]
GO
ALTER TABLE [carlos].[Message] DROP CONSTRAINT [FK__Message__UserId__0E391C95]
GO
ALTER TABLE [carlos].[Message] DROP CONSTRAINT [FK__Message__Id__0D44F85C]
GO
ALTER TABLE [carlos].[AdditionalFeatures] DROP CONSTRAINT [FK__AdditionalFe__Id__48CFD27E]
GO
ALTER TABLE [carlos].[AdditionalFeatures] DROP CONSTRAINT [FK__AdditionalFe__Id__47DBAE45]
GO
ALTER TABLE [carlos].[AdditionalFeatures] DROP CONSTRAINT [FK__Additiona__IdRoo__49C3F6B7]
GO
/****** Object:  Table [carlos].[UserKYA]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[UserKYA]
GO
/****** Object:  Table [carlos].[Tenants]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[Tenants]
GO
/****** Object:  Table [carlos].[Service]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[Service]
GO
/****** Object:  Table [carlos].[RoomService]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[RoomService]
GO
/****** Object:  Table [carlos].[Rooms]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[Rooms]
GO
/****** Object:  Table [carlos].[Notifications]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[Notifications]
GO
/****** Object:  Table [carlos].[MonthlyPayments]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[MonthlyPayments]
GO
/****** Object:  Table [carlos].[Message]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[Message]
GO
/****** Object:  Table [carlos].[Company]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[Company]
GO
/****** Object:  Table [carlos].[AdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP TABLE [carlos].[AdditionalFeatures]
GO
/****** Object:  Schema [carlos]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP SCHEMA [carlos]
GO
/****** Object:  User [carlos]    Script Date: 21/11/2019 09:03:55 p. m. ******/
DROP USER [carlos]
GO
/****** Object:  User [carlos]    Script Date: 21/11/2019 09:03:55 p. m. ******/
CREATE USER [carlos] FOR LOGIN [carlos] WITH DEFAULT_SCHEMA=[carlos]
GO
ALTER ROLE [db_owner] ADD MEMBER [carlos]
GO
/****** Object:  Schema [carlos]    Script Date: 21/11/2019 09:03:55 p. m. ******/
CREATE SCHEMA [carlos]
GO
/****** Object:  Table [carlos].[AdditionalFeatures]    Script Date: 21/11/2019 09:03:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[AdditionalFeatures](
	[IdAdditional] [uniqueidentifier] NOT NULL,
	[Description] [varchar](200) NULL,
	[Price] [money] NULL,
	[IdRoom] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[Id] [uniqueidentifier] NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdditional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[Company]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[Company](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[Telephone] [varchar](20) NULL,
	[Date] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[Message]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[Message](
	[MessageID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Id] [uniqueidentifier] NULL,
	[Message] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
	[TypeMessage] [int] NOT NULL,
	[MessageString] [varchar](1000) NULL,
	[DateCreated] [datetime] NOT NULL,
	[TypeSendUser] [bit] NULL,
	[Source] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [carlos].[MonthlyPayments]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[MonthlyPayments](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [varchar](100) NULL,
	[Price] [money] NULL,
	[IdRoom] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
	[StatusActivePay] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[Notifications]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[Notifications](
	[IdNotification] [uniqueidentifier] NOT NULL,
	[Id] [uniqueidentifier] NULL,
	[PlayerId] [varchar](1000) NULL,
	[PushToken] [varchar](1000) NULL,
	[TypeUser] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[Rooms]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[Rooms](
	[IdRoom] [uniqueidentifier] NOT NULL,
	[NameRoom] [varchar](100) NOT NULL,
	[StatusRoom] [bit] NULL,
	[Date] [datetime] NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[RoomService]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[RoomService](
	[IdRoomService] [uniqueidentifier] NOT NULL,
	[IdService] [uniqueidentifier] NULL,
	[IdRoom] [uniqueidentifier] NULL,
	[Date] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRoomService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[Service]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[Service](
	[IdService] [uniqueidentifier] NOT NULL,
	[NameService] [varchar](100) NOT NULL,
	[PriceService] [money] NOT NULL,
	[StatusService] [bit] NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[Tenants]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[Tenants](
	[IdTenants] [uniqueidentifier] NOT NULL,
	[IdRoom] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[Date] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTenants] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [carlos].[UserKYA]    Script Date: 21/11/2019 09:03:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carlos].[UserKYA](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[UserUser] [varchar](100) NOT NULL,
	[UserPassword] [varchar](500) NOT NULL,
	[UserTelephone] [varchar](50) NOT NULL,
	[UserAddress] [varchar](200) NOT NULL,
	[UserDateCreated] [datetime] NOT NULL,
	[UserDateModified] [datetime] NULL,
	[UserActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [carlos].[AdditionalFeatures]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [carlos].[Rooms] ([IdRoom])
GO
ALTER TABLE [carlos].[AdditionalFeatures]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [carlos].[UserKYA] ([UserId])
GO
ALTER TABLE [carlos].[AdditionalFeatures]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [carlos].[MonthlyPayments] ([Id])
GO
ALTER TABLE [carlos].[Message]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [carlos].[Company] ([Id])
GO
ALTER TABLE [carlos].[Message]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [carlos].[UserKYA] ([UserId])
GO
ALTER TABLE [carlos].[MonthlyPayments]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [carlos].[Rooms] ([IdRoom])
GO
ALTER TABLE [carlos].[MonthlyPayments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [carlos].[UserKYA] ([UserId])
GO
ALTER TABLE [carlos].[RoomService]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [carlos].[Rooms] ([IdRoom])
GO
ALTER TABLE [carlos].[RoomService]  WITH CHECK ADD FOREIGN KEY([IdService])
REFERENCES [carlos].[Service] ([IdService])
GO
ALTER TABLE [carlos].[Tenants]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [carlos].[Rooms] ([IdRoom])
GO
ALTER TABLE [carlos].[Tenants]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [carlos].[UserKYA] ([UserId])
GO
/****** Object:  StoredProcedure [carlos].[spDeleteAdditionalFeatures]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteAdditionalFeatures] 
    @IdAdditional uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[AdditionalFeatures]
	SET [Status]=0
	WHERE  [IdAdditional] = @IdAdditional;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteCompany]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteCompany] 
    @Id uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[Company]
	SET  [Status] = 0
	WHERE [Id]=@Id;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteMonthlyPayment]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteMonthlyPayment] 
    @Id uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[MonthlyPayments]
	SET [Status]=0
	WHERE  [Id] = @Id

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteRooms]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteRooms] 
    @IdRoom uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[Rooms]
	SET [StatusRoom]=0
	WHERE  [IdRoom] = @IdRoom

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteRoomService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteRoomService] 
    @IdRoomService uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE   [carlos].[RoomService]
	SET [Status]=0
	WHERE  [IdRoomService] = @IdRoomService

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteService] 
    @IdService uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE   [carlos].[Service]
	SET [StatusService]=0
	WHERE  [IdService] = @IdService

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteTenants]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteTenants] 
    @IdTenants uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE   [carlos].[Tenants]
	SET [Status]=0
	WHERE  [IdTenants] = @IdTenants;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spDeleteUserKYA]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spDeleteUserKYA] 
    @UserId uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[UserKYA]
	SET [UserActive]=0
	WHERE  [UserId] = @UserId

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsertAdditionalFeatures]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertAdditionalFeatures] 
    @Description varchar(200) = NULL,
    @Price money = NULL,
    @IdRoom uniqueidentifier = NULL,
    @UserId uniqueidentifier = NULL,
    @Id uniqueidentifier = NULL,
    @DateCreated datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[AdditionalFeatures] ([IdAdditional], [Description], [Price], [IdRoom], [UserId], [Id], [DateCreated], [Status])
	VALUES( NEWID(), @Description, @Price, @IdRoom, @UserId, @Id, @DateCreated, 1)
               
	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsertCompany]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertCompany] 
    @Name varchar(100) = NULL,
    @Address varchar(100) = NULL,
    @Telephone varchar(20) = NULL,
    @Date datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[Company] ([Id], [Name], [Address], [Telephone], [Date], [Status])
	VALUES(NEWID(), @Name, @Address, @Telephone, @Date, 1)
               
	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsertMonthlyPayment]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertMonthlyPayment] 
    @Date varchar(100) = NULL,
    @Price money = NULL,
    @IdRoom uniqueidentifier = NULL,
    @UserId uniqueidentifier = NULL,
    @DateCreated datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[MonthlyPayments] ([Id], [Date], [Price], [IdRoom], [UserId], [DateCreated], [Status],[StatusActivePay])
	VALUES(NEWID(), @Date, @Price, @IdRoom, @UserId, @DateCreated, 1,1);
	
               
	COMMIT

GO
/****** Object:  StoredProcedure [carlos].[spInsertRooms]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertRooms] 
    @NameRoom varchar(100),
    @Date datetime,
    @Price money
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[Rooms] ([IdRoom], [NameRoom], [StatusRoom], [Date],[Price])
	VALUES(NEWID(), @NameRoom, 1, @Date,@Price);
               
	COMMIT

GO
/****** Object:  StoredProcedure [carlos].[spInsertRoomService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertRoomService] 
    @IdService uniqueidentifier = NULL,
    @IdRoom uniqueidentifier = NULL,
    @Date datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[RoomService] ([IdRoomService], [IdService], [IdRoom], [Date], [Status])
	VALUES(NEWID(), @IdService, @IdRoom, @Date, 1);              
	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsertService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertService] 
    @NameService varchar(100),
    @PriceService money,
    @Date datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[Service] ([IdService], [NameService], [PriceService], [StatusService], [Date])
	VALUES(NEWID(), @NameService, @PriceService, 1, @Date);
               
	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsertTenants]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertTenants] 
    @IdRoom uniqueidentifier = NULL,
    @UserId uniqueidentifier = NULL,
    @Date datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[Tenants] ([IdTenants], [IdRoom], [UserId], [Date], [Status])
	VALUES(NEWID(), @IdRoom, @UserId, @Date, 1);
               
	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsertUserKYA]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spInsertUserKYA] 
    @UserName varchar(100),
    @UserUser varchar(100),
    @UserPassword varchar(500),
    @UserTelephone varchar(50),
    @UserAddress varchar(200),
    @UserDateCreated datetime,
    @UserDateModified datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN
	
	INSERT INTO [carlos].[UserKYA] ([UserId], [UserName], [UserUser], [UserPassword], [UserTelephone], [UserAddress], [UserDateCreated], [UserDateModified], [UserActive])
	VALUES(NEWID(), @UserName, @UserUser, @UserPassword, @UserTelephone, @UserAddress, @UserDateCreated, @UserDateModified, 1);
	
               
	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spInsMessage]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spInsMessage]
--TypeMessage =1 mensage,=2 imagen = 3 audio
--TypeSendUser = 0 es usuario, TypeSendUser = 1 es admin
	-- Add the parameters for the stored procedure here
			@MessageID uniqueidentifier
           ,@UserId uniqueidentifier = null
           ,@Id uniqueidentifier = null
           ,@Message varchar(500) = null
           ,@Status bit
           ,@Source image =NULL
           ,@TypeMessage int
           ,@TypeSendUser bit
           ,@MessageString varchar = null
           ,@DateCreated datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [carlos].[Message]
           ([MessageID]
           ,[UserId]
           ,[Id]
           ,[Message]
           ,[Status]
           ,[TypeMessage]
           ,[MessageString]
           ,[DateCreated]
           ,[TypeSendUser]
           ,[Source])
     VALUES
           (@MessageID
           ,@UserId
           ,@Id
           ,@Message
           ,@Status
           ,@TypeMessage
           ,@MessageString
           ,@DateCreated
           ,@TypeSendUser
           ,@Source);
END


GO
/****** Object:  StoredProcedure [carlos].[spInsNotification]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spInsNotification]
	-- Add the parameters for the stored procedure here
           @PlayerID varchar(1000)
           ,@PushToken varchar(1000),
		   @IdUser uniqueidentifier,
		   @TypeUser bit = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS (SELECT * FROM [carlos].[Notifications] WHERE [Id]=@IdUser)
		UPDATE [carlos].[Notifications] SET [PlayerId]=@PlayerID,[PushToken]=@PushToken,[TypeUser]=@TypeUser WHERE  [Id]=@IdUser;
	ELSE 
		INSERT INTO [carlos].[Notifications]([IdNotification],[Id],[PlayerId],[PushToken],[TypeUser])VALUES(NEWID(),@IdUser,@PlayerID,@PushToken,@TypeUser);      
END
GO
/****** Object:  StoredProcedure [carlos].[spPaymentMonthly]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spPaymentMonthly]
	-- Add the parameters for the stored procedure here
		   @IdMonthly uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE MonthlyPayments SET StatusActivePay =0 WHERE Id=@IdMonthly;
END


GO
/****** Object:  StoredProcedure [carlos].[spSelAdditionalFeatures]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelAdditionalFeatures]
	-- Add the parameters for the stored procedure here
		   @IdMonthly uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT IdAdditional,[Description],Price,IdRoom,UserId,Id,DateCreated,[Status] 
    FROM AdditionalFeatures WHERE Id=@IdMonthly; 
END

GO
/****** Object:  StoredProcedure [carlos].[spSelectAdditionalFeatures]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spSelectAdditionalFeatures] 
    @IdRoom uniqueidentifier,
	 @UserId uniqueidentifier,
	  @Id uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  

	BEGIN TRAN

	SELECT [IdAdditional], [Description], [Price], [IdRoom], [UserId], [Id], [DateCreated], [Status] 
	FROM   [carlos].[AdditionalFeatures] 
	WHERE [IdRoom]=@IdRoom AND [UserId]=@UserId AND [Id]=@Id AND [Status]=1 order by [DateCreated] DESC;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spSelectCompany]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spSelectCompany] 
    @phone varchar(20),
	@Name varchar(100)
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  

	BEGIN TRAN

	SELECT [Id], [Name], [Address], [Telephone], [Date], [Status] 
	FROM   [carlos].[Company] 
	WHERE  [Name]=@Name AND [Telephone]=@phone AND [Status] = 1;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spSelectUserAll]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spSelectUserAll] 
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  

	BEGIN TRAN

	SELECT [UserId], [UserName], [UserUser], [UserPassword], [UserTelephone], [UserAddress], [UserDateCreated], [UserDateModified], [UserActive] 
	FROM   [carlos].[UserKYA]

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spSelectUserKYA]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spSelectUserKYA] 
    @User varchar(100),
	@Password varchar(500),
	@Phone varchar(50)
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  

	BEGIN TRAN

	SELECT [UserId], [UserName], [UserUser], [UserPassword], [UserTelephone], [UserAddress], [UserDateCreated], [UserDateModified], [UserActive] 
	FROM   [carlos].[UserKYA] 
	WHERE  [UserUser] = @User AND [UserPassword] = @Password AND [UserTelephone] = @Phone AND [UserActive] = 1;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdmin]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageAdmin]
	-- Add the parameters for the stored procedure he
	@UserId uniqueidentifier,
	@IdAdmin uniqueidentifier,
	@Status bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [MessageID]
      ,[UserId]
      ,[Id]
      ,[Message]
      ,[Status]
      ,[TypeMessage]
      ,[MessageString]
      ,[DateCreated]
      ,[TypeSendUser]
      ,[Source]
  FROM [carlos].[Message] WHERE [UserId]=@UserId AND [Id]=@IdAdmin; --AND [Status]=@Status 
END



GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdminAll]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageAdminAll]
	-- Add the parameters for the stored procedure he

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [Id]
      ,[Name]
      ,[Address]
      ,[Telephone]
      ,[Date]
      ,[Status]
  FROM [carlos].[Company] WHERE [Status]=1;

END




GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdminStatusAllWS]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageAdminStatusAllWS]
	-- Add the parameters for the stored procedure he
	@AdminID uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [MessageID]
      ,[UserId]
      ,[Id]
      ,[Message]
      ,[Status]
      ,[TypeMessage]
      ,[MessageString]
      ,[DateCreated]
      ,[TypeSendUser]
      ,[Source]
  FROM [carlos].[Message] WHERE [Id]=@AdminID AND [Status]=1 AND TypeSendUser=1;

END





GO
/****** Object:  StoredProcedure [carlos].[spSelMessageAdminStatusXIDUSERWS]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageAdminStatusXIDUSERWS]
	-- Add the parameters for the stored procedure he
	@AdminID uniqueidentifier,
    @UserID uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [MessageID]
      ,[UserId]
      ,[Id]
      ,[Message]
      ,[Status]
      ,[TypeMessage]
      ,[MessageString]
      ,[DateCreated]
      ,[TypeSendUser]
      ,[Source]
  FROM [carlos].[Message] WHERE [Id]=@AdminID AND [UserId]=@UserID AND [Status]=1 AND TypeSendUser=1;

END





GO
/****** Object:  StoredProcedure [carlos].[spSelMessageUser]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageUser]
	-- Add the parameters for the stored procedure he
	@UserId uniqueidentifier ,
	@Status bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [MessageID]
      ,[UserId]
      ,[Id]
      ,[Message]
      ,[Status]
      ,[TypeMessage]
      ,[MessageString]
      ,[DateCreated]
      ,[TypeSendUser]
      ,[Source]
  FROM [carlos].[Message] WHERE [UserId]=@UserId AND [Status]=@Status;
END


GO
/****** Object:  StoredProcedure [carlos].[spSelMessageUserStatusWS]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageUserStatusWS]
	-- Add the parameters for the stored procedure he
	@UserId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [MessageID]
      ,[UserId]
      ,[Id]
      ,[Message]
      ,[Status]
      ,[TypeMessage]
      ,[MessageString]
      ,[DateCreated]
      ,[TypeSendUser]
      ,[Source]
  FROM [carlos].[Message] WHERE [UserId]=@UserId AND [Status]=1 AND TypeSendUser=0;

END





GO
/****** Object:  StoredProcedure [carlos].[spSelMessageUserWS]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelMessageUserWS]
	-- Add the parameters for the stored procedure he
	@UserId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [MessageID]
      ,[UserId]
      ,[Id]
      ,[Message]
      ,[Status]
      ,[TypeMessage]
      ,[MessageString]
      ,[DateCreated]
      ,[TypeSendUser]
      ,[Source]
  FROM [carlos].[Message] WHERE [UserId]=@UserId;

END




GO
/****** Object:  StoredProcedure [carlos].[spSelMonthlyPayment]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [carlos].[spSelMonthlyPayment]
	-- Add the parameters for the stored procedure he
	@UserId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT M.Id,M.[Date],M.Price,M.IdRoom,R.NameRoom,M.UserId,M.DateCreated,M.[Status],[StatusActivePay] 
    FROM MonthlyPayments AS M, Rooms AS R 
    WHERE M.IdRoom=R.IdRoom AND UserId=@UserId;
END




GO
/****** Object:  StoredProcedure [carlos].[spSelMonthlyPaymentXID]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [carlos].[spSelMonthlyPaymentXID]
	-- Add the parameters for the stored procedure he
	@UserID uniqueidentifier = null,
    @IDMonthlyPayment uniqueidentifier = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @UserID IS NULL
	    SELECT M.Id,M.[Date],M.Price,M.IdRoom,R.NameRoom,M.UserId,M.DateCreated,M.[Status],[StatusActivePay] 
        FROM MonthlyPayments AS M, Rooms AS R 
        WHERE M.IdRoom=R.IdRoom AND M.Id = @IDMonthlyPayment;
    ELSE
        SELECT M.Id,M.[Date],M.Price,M.IdRoom,R.NameRoom,M.UserId,M.DateCreated,M.[Status],[StatusActivePay] 
        FROM MonthlyPayments AS M, Rooms AS R 
        WHERE M.IdRoom=R.IdRoom AND M.Id = @IDMonthlyPayment AND UserId=@UserID;
END




GO
/****** Object:  StoredProcedure [carlos].[spSelNotification]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelNotification]
	-- Add the parameters for the stored procedure here
		   @IdUser uniqueidentifier,
		   @TypeUser bit = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @TypeUser IS NULL
		SELECT [IdNotification]
			,[Id]
			,[PlayerId]
			,[PushToken]
			,[TypeUser]
			FROM [carlos].[Notifications] WHERE [Id]=@IdUser; 
	ELSE
		SELECT [IdNotification]
		,[Id]
		,[PlayerId]
		,[PushToken]
		,[TypeUser]
		FROM [carlos].[Notifications] WHERE [Id]=@IdUser AND  [TypeUser]=@TypeUser; 
END
GO
/****** Object:  StoredProcedure [carlos].[spSelRoom]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelRoom]
	-- Add the parameters for the stored procedure here
	@idRoom uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdRoom]
      ,[NameRoom]
      ,[StatusRoom]
      ,[Date]
      ,[Price]
  FROM [carlos].[Rooms] WHERE IdRoom=@idRoom;
END

GO
/****** Object:  StoredProcedure [carlos].[spSelRoomAll]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelRoomAll]
	-- Add the parameters for the stored procedure here
	--@idRoom uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdRoom]
      ,[NameRoom]
      ,[StatusRoom]
      ,[Date]
  FROM [carlos].[Rooms];
END
GO
/****** Object:  StoredProcedure [carlos].[spSelRoomService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelRoomService]
	-- Add the parameters for the stored procedure here
	@idRoom uniqueidentifier,
	@idService uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT rs.IdRoomService,s.IdService,s.NameService,s.PriceService,r.IdRoom,r.NameRoom,rs.Date,rs.Status FROM RoomService as rs,Service AS s, Rooms as r WHERE r.IdRoom=rs.IdRoom AND rs.IdService=s.IdService AND r.IdRoom=@idRoom AND r.StatusRoom=1 AND s.IdService=@idService;
END
GO
/****** Object:  StoredProcedure [carlos].[spSelRoomServiceXIDRoom]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelRoomServiceXIDRoom]
	-- Add the parameters for the stored procedure here
	@idRoom uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT RS.IdRoomService,S.PriceService,RS.IdRoom FROM RoomService AS RS, Rooms AS R,Service AS S WHERE RS.IdRoom=r.IdRoom AND RS.IdService=S.IdService AND RS.IdRoom=@idRoom;
END
GO
/****** Object:  StoredProcedure [carlos].[spSelService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelService]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdService]
      ,[NameService]
      ,[PriceService]
      ,[StatusService]
      ,[Date]
  FROM [carlos].[Service] WHERE StatusService=1;
END

GO
/****** Object:  StoredProcedure [carlos].[spSelStatusMessage]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelStatusMessage]
	-- Add the parameters for the stored procedure here
		   @IdUser uniqueidentifier =  null,
		   @IdAdmin uniqueidentifier = null,
		   @Status bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @IdUser IS NULL
		 SELECT [MessageID]
			  ,[UserId]
			  ,[Id]
			  ,[Message]
			  ,[Status]
			  ,[TypeMessage]
			  ,[MessageString]
			  ,[DateCreated]
              ,[TypeSendUser]
              ,[Source]
		  FROM [carlos].[Message] WHERE [Id]=@IdAdmin AND [Status]=@Status;
	ELSE
		 SELECT [MessageID]
			  ,[UserId]
			  ,[Id]
			  ,[Message]
			  ,[Status]
			  ,[TypeMessage]
			  ,[MessageString]
			  ,[DateCreated]
              ,[TypeSendUser]
              ,[Source]
		  FROM [carlos].[Message] WHERE [UserId]=@IdUser AND [Status]=@Status;
END




GO
/****** Object:  StoredProcedure [carlos].[spSelTenantsAll]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelTenantsAll]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.[IdTenants]
      ,t.[IdRoom]
	  ,r.NameRoom
	  ,t.UserId
	  ,u.UserName
      ,t.[Date]
      ,t.[Status]
  FROM [carlos].[Tenants] as t,Rooms as r,UserKYA as u WHERE t.IdRoom=r.IdRoom AND t.UserId=u.UserId AND t.Status=1;
END
GO
/****** Object:  StoredProcedure [carlos].[spSelTenantsID]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spSelTenantsID]
	-- Add the parameters for the stored procedure here
	@RoomID uniqueidentifier,
	@userID uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
IF @RoomID is null
	SELECT t.[IdTenants]
		  ,t.[IdRoom]
		  ,r.NameRoom
		  ,u.UserName
		  ,t.[UserId]
		  ,t.[Date]
		  ,t.[Status]
	  FROM [carlos].[Tenants] as t,Rooms as r,UserKYA as u WHERE t.IdRoom=r.IdRoom AND t.UserId=u.UserId AND t.Status=1 AND t.UserId=@userID;
ELSE
	SELECT t.[IdTenants]
			  ,t.[IdRoom]
			  ,r.NameRoom
			  ,u.UserName
			  ,t.[UserId]
			  ,t.[Date]
			  ,t.[Status]
		  FROM [carlos].[Tenants] as t,Rooms as r,UserKYA as u WHERE t.IdRoom=r.IdRoom AND t.UserId=u.UserId AND t.Status=1 AND t.IdRoom=@RoomID;
	
END
GO
/****** Object:  StoredProcedure [carlos].[spUpdateAdditionalFeatures]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateAdditionalFeatures] 
    @IdAdditional uniqueidentifier,
    @Description varchar(200) = NULL,
    @Price money = NULL,
    @IdRoom uniqueidentifier = NULL,
    @UserId uniqueidentifier = NULL,
    @Id uniqueidentifier = NULL,
    @DateCreated datetime = NULL,
    @Status bit = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[AdditionalFeatures]
	SET    [Description] = @Description, [Price] = @Price, [IdRoom] = @IdRoom, [UserId] = @UserId, [Id] = @Id, [DateCreated] = @DateCreated, [Status] = @Status
	WHERE  [IdAdditional] = @IdAdditional;

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdateCompany]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateCompany] 
    @Id uniqueidentifier,
    @Name varchar(100) = NULL,
    @Address varchar(100) = NULL,
    @Telephone varchar(20) = NULL,
    @Date datetime = NULL,
    @Status bit = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[Company]
	SET    [Name] = @Name, [Address] = @Address, [Telephone] = @Telephone, [Date] = @Date, [Status] = @Status
	WHERE  [Id] = @Id
	

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdateMonthlyPayment]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateMonthlyPayment] 
    @Id uniqueidentifier,
    @Date varchar(100) = NULL,
    @Price money = NULL,
    @IdRoom uniqueidentifier = NULL,
    @UserId uniqueidentifier = NULL,
    @DateCreated datetime = NULL,
    @Status bit = NULL,
    @StatusActivePay bit = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[MonthlyPayments]
	SET    [Date] = @Date, [Price] = @Price, [DateCreated] = @DateCreated, [Status] = @Status,[StatusActivePay]=@StatusActivePay
	WHERE  [Id] = @Id AND [IdRoom]=@IdRoom AND [UserId] = @UserId;

	COMMIT

GO
/****** Object:  StoredProcedure [carlos].[spUpdateRooms]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateRooms] 
    @IdRoom uniqueidentifier,
    @NameRoom varchar(100),
    @StatusRoom bit = NULL,
    @Date datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[Rooms]
	SET    [NameRoom] = @NameRoom, [StatusRoom] = @StatusRoom, [Date] = @Date
	WHERE  [IdRoom] = @IdRoom

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdateRoomService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateRoomService] 
    @IdRoomService uniqueidentifier,
    @IdService uniqueidentifier = NULL,
    @IdRoom uniqueidentifier = NULL,
    @Date datetime = NULL,
    @Status bit = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[RoomService]
	SET    [IdService] = @IdService, [IdRoom] = @IdRoom, [Date] = @Date, [Status] = @Status
	WHERE  [IdRoomService] = @IdRoomService

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdateService]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateService] 
    @IdService uniqueidentifier,
    @NameService varchar(100),
    @PriceService money,
    @StatusService bit = NULL,
    @Date datetime = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[Service]
	SET    [NameService] = @NameService, [PriceService] = @PriceService, [StatusService] = @StatusService, [Date] = @Date
	WHERE  [IdService] = @IdService	

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdateTenants]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateTenants] 
    @IdTenants uniqueidentifier,
    @IdRoom uniqueidentifier = NULL,
    @UserId uniqueidentifier = NULL,
    @Date datetime = NULL,
    @Status bit = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[Tenants]
	SET    [IdRoom] = @IdRoom, [UserId] = @UserId, [Date] = @Date, [Status] = @Status
	WHERE  [IdTenants] = @IdTenants

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdateUserKYA]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [carlos].[spUpdateUserKYA] 
    @UserId uniqueidentifier,
    @UserName varchar(100),
    @UserUser varchar(100),
    @UserPassword varchar(500),
    @UserTelephone varchar(50),
    @UserAddress varchar(200),
    @UserDateCreated datetime,
    @UserDateModified datetime = NULL,
    @UserActive bit = NULL
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  
	
	BEGIN TRAN

	UPDATE [carlos].[UserKYA]
	SET    [UserName] = @UserName, [UserUser] = @UserUser, [UserPassword] = @UserPassword, [UserTelephone] = @UserTelephone, [UserAddress] = @UserAddress, [UserDateCreated] = @UserDateCreated, [UserDateModified] = @UserDateModified, [UserActive] = @UserActive
	WHERE  [UserId] = @UserId

	COMMIT
GO
/****** Object:  StoredProcedure [carlos].[spUpdMessage]    Script Date: 21/11/2019 09:03:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [carlos].[spUpdMessage]
	-- Add the parameters for the stored procedure here
           @UserId uniqueidentifier = null
           ,@IdAdmin uniqueidentifier = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @UserId IS NULL
    -- Insert statements for procedure here
		UPDATE [carlos].[Message] SET Status=0 WHERE Id=@IdAdmin;
    ELSE
		UPDATE  [carlos].[Message] SET Status=0 WHERE UserId=@UserId;
       
END
GO
